@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Concert+One&family=Fjalla+One&family=Oswald:wght@200..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
  

/* Custom styles */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #fbfbfb;
}
  
.placeholder-custom::placeholder {
      color: #fbfbfb; /* Example: Custom color */
      opacity: 1; /* Example: Full opacity */
      font-style: 'Bree Serif'; /* Example: Italicize text */
}

::-webkit-scrollbar {
    width: 12px; /* Width of the entire scrollbar */
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1; /* Track color */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #888; /* Thumb color */
    border-radius: 6px; /* Rounded edges */
    border: 3px solid #f1f1f1; /* Padding around thumb */
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Thumb color when hovering */
  }

  .DialogContent {
    position: fixed !important;
    top: 0 !important;
    right: 0 !important;
    left: auto !important;
    bottom: 0 !important;
    transform: none !important;
    margin: 0 !important;
    max-width: none !important;
    width: 40% !important; /* This will be overridden by your responsive classes */
    height: 100vh !important;
  }
  
  /* Override the default animation if it's interfering */
  @keyframes slideIn {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }
  
  @keyframes slideOut {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(100%);
    }
  }