@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Concert+One&family=Fjalla+One&family=Oswald:wght@200..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
  

/* Custom styles */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #fbfbfb;
}
  
.placeholder-custom::placeholder {
      color: #fbfbfb; /* Example: Custom color */
      opacity: 1; /* Example: Full opacity */
      font-style: 'Bree Serif'; /* Example: Italicize text */
}

